doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/users.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/bootstrap.min.js')
