doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/users.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#lobby') Liar's Dice
        ul.nav.navbar-nav.navbar-right
          li
            p.name= 'Welcome, ' + user_info.display_name + '#' + user_info.id
          if(user_info.registered)
            li
              a.logout(href='/logout')
                span.glyphicon.glyphicon-log-out
                |  Log Out
          else
            li
              input.email_input.form-control(placeholder='email')
            li
              input.password_input.form-control(placeholder='password' type='password')
            li
              a.signup(href='#signup')
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a.login(href='#login')
                span.glyphicon.glyphicon-log-in
                |  Login

