doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/bootstrap-number-input.js')
    script(src='/javascripts/users.js')
    script= `const room = {room_id: '` + parseInt(room_id) + `'}`
    script= `var user = {user_id: '` + parseInt(user_info.id) + `', dices: ['secret','secret','secret','secret','secret']}`
    script= `var last_move = {roll: 0, amount: 0}`

  body
    .alert.alert-success(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;
      |  You have been signed in successfully!
    .alert.alert-danger(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;
      |  You have been a failure!

    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Liar's Dice
        ul.nav.navbar-nav.navbar-right
          li
            p.name= 'Playing as ' + user_info.display_name + '#' + user_info.id
            a.change#change(href='#update_modal', data-toggle='modal', data-target='#myModal1')
                |  Change Name
    
  .container.game-container
      h1.room_title Title
      .container#user-listing
        h1.player_title Players  
        table
          tbody.room_info
        br
        br
      .container#middle
        h1 Bid
        .container.last_dice
          .large
          .wildcard
            Wildcards are 
            strong
              span#wildcard_state.active active
          .liar_button.liar_game_button.btn Call Liar!
        .container.roll_container.minusz#roll_container 
          form.roll_form
            .form-group.bid_container
              span.bid_instructions There are
              #dice_amount_picker.input-group.num-picker
                .input-group.number_input
                  span.input-group-btn
                    button.btn.btn-default(type='button') -
                  input#amount.roll_amount.form-control(type='text', value='1', min='1', max='10000', style='text-align: center;')
                  span.input-group-btn
                    button.btn.btn-default(type='button') +
              #dice_value_picker.dice_picker
                label
                  span.custom-radio
                    input#die.custom-radio.die(type='radio', name='die', value='1')
                    img(src='/images/1.png', title='', style='')
                label
                  span.custom-radio.selected
                    input#die.custom-radio(type='radio', name='die', value='2')
                    img(src='/images/2.png', title='', style='')
                label
                  span.custom-radio
                    input#die.custom-radio(type='radio', name='die', value='3')
                    img(src='/images/3.png', title='', style='')
                br
                |  
                label
                  span.custom-radio
                    input#die.custom-radio(type='radio', name='die', value='4')
                    img(src='/images/4.png', title='', style='')
                label
                  span.custom-radio
                    input#die.custom-radio(type='radio', name='die', value='5')
                    img(src='/images/5.png', title='', style='')
                label
                  span.custom-radio
                    input#die.custom-radio(type='radio', name='die', value='6')
                    img(src='/images/6.png', title='', style='')
              |  
              button.roll_button.btn(type='submit') Place Bid
              .container.liar_button
              br
              br
      #chat_container.container
        h1.chat_title  Chat
        form#chat_window
          .form-group
            input.room_id(type='hidden', value='0')
            ul.chat_area
            td
            br
            .chat_input_group
              input.chat_input_text.form-control(placeholder='Enter chat message here', maxlength='140')
              br
              button.chat_input_button.btn(type='submit') Send
    

    #myModal.modal.fade.bs-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          br
          .bs-example.bs-example-tabs
            ul#myTab.nav.nav-tabs
              li.active
                a(href='#login', data-toggle='tab') Login
              li
                a(href='#signup', data-toggle='tab') Sign Up
          .modal-body
            #myTabContent.tab-content
              #login.tab-pane.fade.active.in
                form.form-horizontal.login_form
                  fieldset
                    .control-group
                      label.control-label(for='userid') Username:
                      .controls
                        input.form-control.username_login_input(required='', name='username_login_input', type='text', placeholder='username')
                    .control-group
                      label.control-label(for='passwordinput') Password:
                      .controls
                        input.form-control.input-medium.password_login_input(required='', name='password_login_input', type='password', placeholder='********')
                    .control-group
                      label.control-label(for='login')
                      .controls
                        button.btn.btn-success.login_button Log In
              #signup.tab-pane.fade
                form.form-horizontal.signup_form
                  fieldset
                    .control-group
                      label.control-label(for='userid') Username:
                      .controls
                        input.form-control.input-large.username_signup_input(type='text', placeholder='username', required='')
                    .control-group
                      label.control-label Password:
                      .controls
                        input.form-control.input-large.password_signup_input(type='password', placeholder='********', required='')
                    .control-group
                      label.control-label(for='signup')
                      .controls
                        button.btn.btn-success.signup_button(name='signup') Signup
          .modal-footer
            center
              button.btn.btn-default(type='button', data-dismiss='modal') Close
    #myModal1.modal.fade.bs-modal-sm.myModal1(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          br
          .bs-example.bs-example-tabs
            ul#myTab.nav.nav-tabs
              li.active
                a(href='#update', data-toggle='tab') Change Username
          .modal-body
            #myTabContent.tab-content
              #update_modal.tab-pane.fade.active.in
                form.form-horizontal.update_name_form
                  fieldset
                    .control-group
                      .controls
                        input.form-control.update_name_input(required='', name='update_name_input', type='text', placeholder=user_info.display_name)
                    .control-group
                      label.control-label(for='update')
                      .controls
                        button.btn.btn-success.login_button Submit
              .modal-footer
                center
                  button.btn.btn-default.change_name_close_button(type='button', data-dismiss='modal') Close

    script= `$('#amount').bootstrapNumber()`
