body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: black;
}

.name {
	color: black;
	margin-top: 15px;
}

#user-listing{
	width: auto;
	float: left
}

#lobby-chat{
	width: 30%;
	float: right;
}

.navbg{
	background: #EEE url("/images/grey.jpg");
	color: black;
}

.navbar-brand{
	color: black;
}

.form-control{
	margin-top: 8px;
	border-color: ghostwhite;
}